@import "tailwindcss";

:root {
  --background: #fcba03;
  --foreground: #171717;
}

/* globals.css */
@font-face {
  font-family: "Nicolas";
  src: url("/nicolas.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* supaya gampang dipakai */
.nicolas {
  font-family: "Nicolas", sans-serif;
}

/* globals.css */
@font-face {
  font-family: "Teramo";
  src: url("/teramo.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* contoh penggunaan */
.teramo {
  font-family: "Teramo", sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-coklat: #936651;
  --color-coklat_muda: #f4ede7;
  --color-coklat_tua: #9c6348;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --background-coklat: #936651;

  --animate-contact: contact 1s alternate ease-in infinite;

  @keyframes contact {
    0% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
}
